label{
    margin-bottom: 0rem !important;
    margin-top: .5rem !important;
}
.bak{
    background-image:url(../img/fondo.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.img_fam{
    background-image:url(../img/logo.png);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.table{
    text-align: center !important;
}
.col{
        padding-right: 7px !important;
    padding-left: 7px !important;
}
.reporte_totales
{
    background:#1eadea;
}
.nav-link_{
   
    text-align: center;
}
#container{
	width: 100%;
	height: 100%;
}
.section{
    width:95%;
    height: 100%;
    margin: auto;
}
.por{
    margin: auto;
    text-align: center;
}
.button-becas{
    margin-top: 2.6%;
}
#calendario_size{
	    height: 80%;
    margin: auto;
    width: 80%;
    margin-top: 2%;
}
body{
	background-color:white !important;
}
.bg-light {
    background-color: white !important;
}
.bg-primary{
    background-color:#05a0e2 !important;
}
.row-diag{
    width: 100%;
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.row-cat{
text-align: center;
    margin-top: 1.3%;
}
.col-diag{
padding-right: 0px !important;
    padding-left: 0px !important;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
}  
}
 input[name=interruptor]{
            display: none;
        }

        .label_dis{
            color: transparent;
            width: 100%;
            height: 100%;
        }
        
        .interruptor-cuerpo{
            width: 40px;
            height: 22px;
            box-shadow: 0px 0px 5px #8A8A8A inset;
            border-radius: 10px;
            background-color: white;
            transition: background-color .25s;
        }

        .interruptor-tecla{
            position: relative;
            left:0;
            text-align: center;
            width: 22px;
            height: 22px;
            box-shadow: 0 0 2px #8A8A8A;
            background-color: white;
            border-radius: 50%;
            transition: left .25s;
        }

        #apagado:checked ~ .interruptor-cuerpo .interruptor-tecla{
            left:0px;
        }

        #apagado:checked ~ .interruptor-cuerpo .interruptor-tecla label[for=apagado]{
            display: none
        }

        #prendido:checked ~ .interruptor-cuerpo .interruptor-tecla{
            left:20px;
        }

        #prendido:checked ~ .interruptor-cuerpo{
            background-color: #A2DA6C;
        }

        #prendido:checked ~ .interruptor-cuerpo .interruptor-tecla label[for=prendido]{
            display: none
        }